@{
    ViewBag.Title = "产品报修";
    Layout = "~/Views/Shared/_layout.cshtml";
}
@model CSM.Models.TemProduct
<header class='demos-header'>
    <h1 class="demos-title">产品报修</h1>
</header>
<section>
    <div class="weui_cells_title">产品信息</div>
    <div class="weui_cells weui_cells_access">
        <a class="weui_cell" href="~/GZ/ProductInfo/@ViewData["ProductID"]">
            <div class="weui_cell_hd"><img src="~/Images/icon/device.png" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>产品名称</p>
            </div>
            <div class="weui_cell_ft">@Model.Name</div>
        </a>
        <a class="weui_cell" href="~/GZ/ProductMnt/@ViewData["ProductID"]">
            <div class=" weui_cell_hd"><img src="~/Images/icon/time.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>过保日期</p>
            </div>
            <div class="weui_cell_ft">@string.Format("{0:D}", Model.EndTime)</div>
        </a>
    </div>
</section>
<section ng-app="wxapp" ng-controller="wxctrl">
    <session>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">联系人</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="tel" placeholder="请输入联系人" ng-model="ProductInfo.ContactName">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">手机号码</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="tel" placeholder="请输入手机号码" ng-model="ProductInfo.Phone">
                </div>
            </div>
        </div>


    </session>
    <section>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <textarea class="weui_textarea" placeholder="请输入保修内容" rows="3" ng-model="ProductInfo.Content"></textarea>
                    <div class="weui_textarea_counter"><span>{{200-ProductInfo.Content.length}}</span></div>
                </div>
            </div>
        </div>
    </section>

    <session>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <div class="weui_uploader">
                        <div class="weui_uploader_hd weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">图片上传</div>
                            <div class="weui_cell_ft">0/2</div>
                        </div>
                        <div class="weui_uploader_bd">
                            <ul class="weui_uploader_files">
                                <li class="weui_uploader_file" style="background-image:url(/Images/upload/pic.jpg)"></li>
                                <li class="weui_uploader_file" style="background-image: url(/Images/upload/pic.jpg)"></li>
                                <li class="weui_uploader_file" style="background-image: url(/Images/upload/pic.jpg)"></li>
                                <li class="weui_uploader_file weui_uploader_status" style="background-image: url(/Images/upload/pic.jpg)">
                                    <div class="weui_uploader_status_content">
                                        <i class="weui_icon_warn"></i>
                                    </div>
                                </li>
                                <li class="weui_uploader_file weui_uploader_status" style="background-image: url(/Images/upload/pic.jpg); ">
                                    <div class="weui_uploader_status_content">50%</div>
                                </li>
                            </ul>
                            <div class="weui_uploader_input_wrp">
                                <input class="weui_uploader_input" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </session>
    <p>{{ProductInfo}}</p>
    <section class="cms-footer">
        <button ng-click="Create()" class="weui_btn weui_btn_primary cms-margin-top">创建报修单</button>
    </section>
</section>
<script src="~/js/angular.min.js"></script>
<script>
    var wxapp = angular.module('wxapp', []);
    wxapp.controller('wxctrl', function ($scope, $http) {
        $scope.Create = function ()
        {
            $http.post("~/GZ/AddTask", $scope.ProductInfo)
            .success(function (response) { $scope.names = response.records; });
        }
    });
</script>