@{
    ViewBag.Title = "产品序列号查询";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<section ng-app="wxapp" ng-controller="wxctrl">
    <header class='demos-header'>
        <h1 class="demos-title">产品序列号查询</h1>
    </header>

    <session class="weui_cells_form">
        <div class="weui_cell csm-single-cell">
            <div class="weui_cell_hd"><label class="weui_label">SN号</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="tel" placeholder="请输入SN号" ng-model="sn">
            </div>
        </div>
        <h1>你输入了: {{sn}}</h1>
    </session>
    <section class="cms-footer">
        <a href="~/GZ/TaskInfor/{{sn}}" class="weui_btn weui_btn_primary">查询</a>
    </section>
</section>
<script src="~/js/angular.min.js"></script>
<script>
    var wxapp = angular.module('wxapp', []);
    wxapp.controller('wxctrl', function ($scope) {
        $scope.sn = "";
    });
</script>